body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

head {
    background-color: blueviolet;
}

body {
    background-color: rgb(159, 185, 235);
    color: black;
}


/* Source: https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin:0 auto;
}


nav {
    background-color:rgb(65, 35, 157);
    color: white;
}
.nav-link {
    color: white;
}

a {
    color:rgb(18, 86, 75);
}

.banner {
    background-color:blueviolet;
    color: white;
    width: 100%;
    height: 50px;
    margin: 0;
    display: inline-block;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom:5px;
    border-bottom-color: aliceblue;
}

.banner-link {
    background-color:blueviolet;
    color: white;
}
